.navbar {
	width: 100%;
    display: flex;
    justify-content: space-between;
	align-items: center;

}

.dynamic-width {
    width: 75%;
}

@media only screen and (max-width: 600px) {
    .dynamic-width {
        width: 100%;
    }
}
