* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  /* padding-bottom: 1rem; */
}

.button {
  margin-inline: 0.2rem;
}

.my-form {
  background-color: white;
  padding: 3.5rem 4.5rem 2rem 2.5rem;
  /* padding: 2.5rem 4rem 2rem 2rem; */
  margin-bottom: 1rem;
  /* box-shadow: 2px 2px 2px black; */
  border-radius: 8px;
  border: 1px solid rgba(200, 200, 200, 0.41);
}