* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
}

.main-section-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  padding: 1rem;
}

.main-section {
  width: 100%;
}

.button {
  margin-inline: 0.2rem;
}

.my-form {
  background-color: white;

  /* padding: 3.5rem 4.5rem 2rem 2.5rem; */
  padding: 2.7rem 2.5rem 2rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;

  border: 1px solid rgba(200, 200, 200, 0.41);
}

.w-100 {
  width: 100%;
}